<header id="header">
  <div>
    <span class="fas fa-space-shuttle" style="font-size: 80px;"></span>
  </div>
  <div class="content">
    <div class="inner">
      <h1>Eder Fernández Baldovino</h1>
      <h3>Developer</h3>
      <ul class="icons">
        <li>
          <a href="mailto:ederj98@gmail.com" class="icon fas fa-envelope">
            <span class="label">Email</span>
          </a>
        </li>
        <li>
          <a href="https://github.com/ederj98" class="icon brands fa-github">
            <span class="label">GitHub</span>
          </a>
        </li>
        <li>
          <a
            href="https://my.linkedin.com/in/ederj98"
            class="icon brands fa-linkedin-in"
          >
            <span class="label">Linkdin</span>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/ederj98" class="icon brands fa-twitter">
            <span class="label">Twitter</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <nav>
    <ul>
      <li><a href="#intro">About Me</a></li>
      <li><a href="#work">Projects</a></li>
    </ul>
  </nav>
</header>
